


.box1{

margin-bottom:10px;
background-color: blue;
width: 100px;
height: 100px;

}

.box2{
    
    display: subgrid;
    margin-bottom:10px;
    background-color: yellow;
    width: 100px;
    height: 100px;

}

.box3{

    margin-bottom:10px;
    background-color: brown;
    width: 100px;
    height: 100px;
    color: red;

}






